{{ template "endpoint_internal_publish.tmpl" }},
{{ template "endpoint_geocode.tmpl" }},
{{ template "endpoint_rev_geocode.tmpl" }},
{{ template "endpoint_autofill.tmpl" }},
{{ template "endpoint_keycloak.tmpl" }},
{{ template "endpoint_keycloak_subscription.tmpl" }},
{{ template "endpoint_admin_service.tmpl" }}