{
  "endpoint": "/api/v1/auth/token",
  "method": "POST",
  "backend": [
    {
      "url_pattern": "/realms/intellipins/protocol/openid-connect/token",
      "host": [
        "{{ env "KEYCLOAK_SERVICE_URL" }}"
      ]
    }
  ],
  "extra_config": {
    "modifier/lua-proxy": {
      "pre": "local r = request.load(); local body = r:body(); new_body = body .. '&grant_type=password&client_id=ADDRESSING-API-CLIENT'; r:body(new_body)",
      "live": false,
      "allow_open_libs": false,
      "skip_next": false
    }
  }
}