{
  "endpoint": "/api/v1/auth/token",
  "method": "POST",
  "backend": [
    {
      "url_pattern": "/realms/intellipins/protocol/openid-connect/token",
      "host": [
        "{{ env "KEYCLOAK_SERVICE_URL" }}"
      ]
    }
  ],
  "extra_config": {
    "modifier/lua-proxy": {
      "pre": "local r = request.load(); local body = r:body(); new_body = body .. '&grant_type=password&client_id=ADDRESSING-API-CLIENT'; r:body(new_body)",
      "live": false,
      "allow_open_libs": false,
      "skip_next": false
    }
  }
},
{
  "endpoint": "/api/v1/api/plan",
  "method": "GET",
  "output_encoding": "no-op",
  "input_headers":[
      "Content-Type",
      "Accept-Encoding",
      "Authorization"
  ],
  "backend": [
    {
      "url_pattern": "/realms/intellipins/org/api-plan",
      "host": [
        "{{ env "KEYCLOAK_SERVICE_URL" }}"
      ]
    }
  ],
  "extra_config": {
    {{ template "circuit_breaker.tmpl" "api_plan" }},
    {{ template "keycloak_rate_limit.tmpl" }}
  }
}